@using DbCourseWork.Models
<h3>Власник карти</h3>
<table class="table">
    <thead>
    <tr>
        <th>Номер</th>
        <th>Імʼя</th>
        <th>Прізвище</th>
        <th>По батькові</th>
        <th>Дата народження</th>
    </tr>
    </thead>
    <tbody>
    @if (ContentLoaded())
    {
        <tr>
            <td>@CardOwner?.Id</td>
            <td>@CardOwner?.FirstName</td>
            <td>@CardOwner?.LastName</td>
            <td>@CardOwner?.MiddleName</td>
            <td>@CardOwner?.BirthDate.ToString("dd/MM/yyyy")</td>
        </tr>
    }
    </tbody>
</table>

@code {
    [Parameter]
    public required CardOwner? CardOwner { get; set; } 
    
    private bool ContentLoaded() => CardOwner != null;
}